.*swp
.htaccess
*~
*.DS_Store
sql/
system/
tests/
application/
media/
modules/
.gitmodules
CHANGELOG.txt
License.txt
README.markdown
favicon.ico
index.php
maintenance_off.php
plugins/clickatell/
plugins/frontlinesms/
plugins/sharing/
plugins/smssync/
plugins/viddler/
themes/bueno/
themes/ci_cumulus/
themes/polaroid/
themes/terra/
themes/unicorn/